*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif ;
}
body{
    background-image: url("bacground1.jpg");
    background-size: auto;
    background-repeat: repeat;
}
#headerlogo{
    width: auto;
    height: 140px;
    background-color: rgba(0,0,0, 0.8);

}
#headerlogoalign{
    width: auto;
    height: 140px;
    margin-left: 70px;
    background-image: url("logo.png");
    background-size: cover;
}
#headertabs{
    width: auto;
    height: 55px;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: space-evenly;
    top: 0;
    position: sticky;
}
#headertabs a{
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
.dropbtn {
    margin-top: 4px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0, 0.7);
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: rgba(0,0,0, 0.9);}
.dropdown:hover .dropdown-content {display: block;}

#banner{
    width: auto;
    height: 600px;
    background-image: url("slidebanner.jpg");
    background-size: cover;
}
#banneraboutus{
    width: auto;    
    height: 600px;
    background-image: url("Designer.jpeg");
    background-size: cover;

}
#container{
    width: auto;
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.indexcontainericon1 {
    width: 100px;
    height: 100px;
    background-image: url("icon1.png");
    background-size: cover;
    margin-left: 35%;
    margin-bottom: 10px;
}
.indexcontainericon2 {
    width: 100px;
    height: 100px;
    background-image: url("icon2.png");
    background-size: cover;
    margin-left: 35%;
    margin-bottom: 10px;
}
.indexcontainericon3 {
    width: 100px;
    height: 100px;
    background-image: url("icon3.png");
    background-size: cover;
    margin-left: 35%;
    margin-bottom: 10px;
}
.indexcontainer{

    width: 25%;
    height: auto;
    background-color: rgba(0,0,0, 0.5);
    padding: 15px;
    display: inline-block;
    text-align:center; 
    border-radius: 5%;
    color: azure;
}
#globalbanner{
    height: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("global banner.png");
    background-size: contain;
    margin: 50px 0px 50px 0px;
    color: beige;
}
#globalbanner a{
    color: azure;
    
}
#clientwhole{
    margin-bottom: 50px;
}
#ourclientsh1{
    font-weight: bold;
    font-size: 45px;
    text-align:center;
    color:white;
    margin-bottom: 30px;
}
#ourclientsh12{
    font-weight: bold;
    font-size: 45px;
    text-align:center;
    color:white;
    margin-top: 40px;
}
#ourclients{
    display: flex;
    justify-content: center;
}
#first{
    height:130px;
    width: 230px;
    background-image: url("dell.png");
    background-size: cover;
    background-color: rgba(0,0,0, 0.7);
    border-radius:6%;
    display:inline-block;
    margin-right: 5px;
}
#sec{
    height:130px;
    width: 230px;
    background-image: url("siemens.png");
    background-size: cover;
    background-color: rgba(0,0,0, 0.7);
    border-radius:6%;
    display:inline-block;
    margin-right: 5px;
}

#third{
    height:130px;
    width: 230px;
    background-image: url("hp.png");
    background-size: cover;
    background-color: rgba(0,0,0, 0.7);
    border-radius:6%;
    display:inline-block;
    margin-right: 5px;
}
#fourth{
    height:130px;
    width: 230px;
    background-image: url("lego.png");
    background-size: cover;
    background-color: rgba(0,0,0, 0.7);
    border-radius:6%;
    display:inline-block;
    margin-right: 5px;
}

#fifth{
    height:130px;
    width: 230px;
    background-image: url("unity.png");
    background-size: cover;
    background-color: rgba(0,0,0, 0.7);
    border-radius:6%;
    display:inline-block;
}

#aboutus{
    width: auto;
    height: 245px;
    margin: 5%;
    padding: 50px 80px 0px 80px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 3%;
    color: beige;
}
#aboutuscontainerwhole{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.aboutuscontainer{
    padding:50px;
    margin: 28px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5%;
    text-align:center;
    width:20%;
    display:inline-block;
    color: bisque;
}


.aboutuscontainer a{
    color: beige;
}

.aboutuscontainer a:hover{
    background-color: rgba(0,0,0, 0.9);
}
#aboutuscontainerimg1{
    width: auto;
    height: 300px;
    background-image: url("whoweare.jpeg");
    background-size: cover;
    margin-bottom: 7px;
    border-radius: 5%;
}
#aboutuscontainerimg2{
    width: auto;
    height: 300px;
    background-image: url("ourmissions.jpeg");
    background-size: cover;
    margin-bottom: 7px;
    border-radius: 5%;
}
#aboutuscontainerimg3{
    width: auto;
    height: 300px;
    background-image: url("whatwedo.jpeg");
    background-size: cover;
    margin-bottom: 7px;
    border-radius: 5%;
}
#aboutuscontainerimg4{
    width: auto;
    height: 300px;
    background-image: url("ourvalue.jpeg");
    background-size: cover;
    margin-bottom: 7px;
    border-radius: 5%;
}
#aboutuscontainerimg5{
    width: auto;
    height: 300px;
    background-image: url("whychooseus.jpeg");
    background-size: cover;
    margin-bottom: 7px;
    border-radius: 5%;
}
#aboutuscontainerimg6{
    width: auto;
    height: 300px;
    background-image: url("ouradvantage.jpeg");
    background-size: cover;
    margin-bottom: 7px;
    border-radius: 5%;
}
#missioboxwhole{
    margin: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    height: 350px;
    
}
.missionbox {
    display: flex;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 10px;
    width: 100%;
    max-width: 90%;

}

.missionbox img {
    width: 40%;
    object-fit: cover;
}

.missionbox .missioncontent {
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.missionbox .missoncontent h2 {
    margin: 0;
    font-size: 1.8rem;
}

.missionbox .missioncontent p {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
}
#problemh1{
    text-align:center;
    color: antiquewhite;
    margin: 20px 0px 20px 0px;
    font-size:40;
}
#problem1image{
    background-image: url("compliance.jpeg");
    background-size: cover;
    height:600px;
    margin-bottom: 20px;
}
#problem2image{
    background-image: url("cybersecurity.jpg");
    background-size: cover;
    height:600px;
    margin-bottom: 20px;
}
#problem3image{
    background-image: url("marketing.jpg");
    background-size: cover;
    height:600px;
    margin-bottom: 20px;
}
#solh2{
    font-weight: bold;
    font-size:30;
    text-align:center;
    color: antiquewhite;
    margin-bottom: 20px;
}
#action{
    font-weight:light;
    color: antiquewhite;
    margin-bottom: 20px;
}

#solp{
    font-size:30px;
    color: antiquewhite;
    margin-bottom: 20px;
}
#problemli{
    font-size: 25px;
    color: antiquewhite;
    margin-bottom: 10px;
}
.problemul{
    margin-left:10%;
    margin-right:10%;
    color: antiquewhite;
    margin-bottom: 50px;
}
#problemcontent{
    background-color:  rgba(0,0,0, 0.7);
    margin: 50px;
    padding: 20px;
    border-radius: 2%;
}
#teamh1{
    text-decoration: underline;
    font-weight: bold;
    text-align:center;
    font-size:40px;
    color: blanchedalmond;
    margin-top: 20px;
}
#img_member1{
    height:240px;
    width: 240px;
    background-image: url("Anik.jpeg");
    background-size: cover;
    border:2px,solid,black;
    border-radius:50%;
    display:inline-block;
}
#img_member2{
    height:240px;
    width: 240px;
    background-image: url("Yajur.png");
    background-size: cover;
    background-color: black;
    border:2px,solid,black;
    border-radius:50%;
    display:inline-block;
}
#img_member3{
    height:240px;
    width: 240px;
    background-image: url("Aniket.jpeg");
    background-size: cover;
    background-color: black;
    border:2px,solid,black;
    border-radius:50%;
    display:inline-block;
}
#img_member4{
    height:240px;
    width: 240px;
    background-image: url("Jatin.jpeg");
    background-size: cover;
    background-color: black;
    border:2px,solid,black;
    border-radius:50%;
    display:inline-block;
}
.contactname{
    margin-top:3%;
    margin-left:20%;
    margin-right:10%;
    color: blanchedalmond;
}
.info{
    
    margin-left: 12%;
    margin-right:12%;
    text-align:left;
    font-size:15px;;
    display:inline-block;
    color: blanchedalmond;
}
.info h4{
    margin-bottom: 20px;
}
#link{
    color:black;
    color: blanchedalmond;
}
#wiph1{
    font-size: 100px;
    margin-top: 100px;
    color: bisque
}
#footer{
    width: auto;
    height: auto;
    background-color: rgba(0,0,0, 0.9);
    display: flex;
    justify-content: space-evenly;
}
.block{
    width: 22%;
    height: 250px;
    padding: 30px;
    display: inline-block;
}
.block h3{
    color: antiquewhite;
}
.block h5 a{
    margin: 10px;
    text-decoration: none;
    color: antiquewhite;
}
.block h5{
    margin: 20px;
}